---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>news from how to slow internet</title>
  <link href="https://howtoslowinternet.com/feed.xml" rel="self"/>
  <link href="https://howtoslowinternet.com/news.html"/>
  <updated>{{ news[0].date }}T12:00:00Z</updated>
  <id>https://howtoslowinternet.com/news.html</id>
  
  {%- for item in news %}
  <entry>
    <title>{{ item.title }}</title>
    <link href="https://howtoslowinternet.com/news.html#item{{ loop.index }}"/>
    <updated>{{ item.date }}T12:00:00Z</updated>
    <id>https://howtoslowinternet.com/news.html#item{{ loop.index }}</id>
    <content type="html"><![CDATA[{{ item.content }}]]></content>
  </entry>
  {%- endfor %}
</feed>